$baseColors: (
  back: rgb(242, 228, 228),
  letters: rgb(0, 0, 0),
  gradient: linear-gradient(200deg, rgb(236, 207, 19), rgb(250, 87, 214)),
  pink: rgb(250, 87, 214),
  hardPink: rgb(189, 12, 151),
  orange: rgb(236, 160, 19),
  green: rgb(134, 220, 139),
  borders: rgb(211, 207, 207)
);
