@import './colors.scss';

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  animation: startAnimation 1s;
  background: map-get($map: $baseColors, $key: back);
}



//link settings
a {
  color: map-get($map: $baseColors, $key: letters);
  cursor: pointer;
  text-decoration: none;
}
//end of link settings

//section settings

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0 5vh 0;
}

//end section settings

//headlines
h1 {
  text-align: center;
  padding: 5vh;
  color: map-get($map: $baseColors, $key: hardPink);
}
//end of headlines

// section1

.section1 {
  background: map-get($map: $baseColors, $key: gradient);

  .animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 30vh;
    }

    p {
      text-align: center;
      padding-top: 4vh;
      font-size: 3vh;
      color: white;

      span {
        font-size: 5vh;
        color: map-get($map: $baseColors, $key: pink);
      }
    }
  }
}

//end of section1

//section2
.v-carousel {
  display: flex;
  justify-content: center;
  align-items: center;

  .v-window {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    margin-top: 30vh;
    max-width: 45vh;
  }
}
//end of section2

//section3

.tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 35vh;
    margin: 5vh;
    border-radius: 20%;

    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);

    background: map-get($map: $baseColors, $key: gradient);

    img {
      max-width: 20vh;
      margin-bottom: 2vh;
    }
    .bas {
      max-width: 30vh;
    }

    p {
      color: map-get($map: $baseColors, $key: bColor);
      text-align: center;
    }
  }
}

//end of section3

//section4

.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: map-get($map: $baseColors, $key: pink);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4vh;
  flex-wrap: wrap;
  text-align: center;

  img {
    max-width: 5vh;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vh;
    margin: 1vh;
    color: map-get($map: $baseColors, $key: bColor);
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      padding: 1vh;
      max-width: 8vh;
    }
  }
}

//end of section 4

//footer
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: map-get($map: $baseColors, $key: bColor);

  background-color: map-get($map: $baseColors, $key: green);

  img {
    max-width: 3vh;
    filter: invert(100%);
    margin-right: 1vh;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//end of footer

//animations
@keyframes startAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//end of animations

//turned phone

@media only screen and (min-width: 740px) {
  // section1

  .section1 {
    .animation {
      flex-direction: row;

      img {
        max-width: 45vh;
      }

      p {
        text-align: start;
        padding-top: 0vh;
        padding-left: 3vh;
        font-size: 6.5vh;

        span {
          font-size: 8vh;
        }
      }
    }
  }

  //end of section1

  //section2
  .v-carousel {
    img {
      max-width: 200vh;
    }
  }
  //end of section2

  //section3

  .tiles {
    flex-basis: 100%;

    .square {
      height: 50vh;
      width: 50vh;

      img {
        max-width: 25vh;
      }
      .bas {
        max-width: 45vh;
      }
    }
  }

  //end of section3

  

  //section4

  .section4 {
    align-items: start;
    flex-direction: row;
    .wrapper {
      padding: 10vh;

      img {
        max-width: 10vh;
        margin-right: 3vh;
      }
      h2 {
        img {
          max-width: 13vh;
        }
      }
    }
  }

  //end of section4

  //footer
  footer {
    flex-direction: row;
    justify-content: space-around;
  }

  //end of footer
}

//media for pc screen
@media only screen and (min-width: 963px) {
  //headlines
  h1 {
    font-size: 9vh;
  }
  //end of headlines

  //section2
  .v-carousel {
    img {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }
  //end of section2

  //section3

  .section3 {
    flex-basis: 30%;
    .square {
      height: 40vh;
      width: 40vh;
      background: transparent;
      border: solid map-get($map: $baseColors, $key: borders) 1px;
      position: relative;
      overflow: hidden;

      img {
        max-width: 20vh;
      }

      p {
        font-size: 3vh;
      }
      .bas {
        max-width: 30vh;
      }
    }
  }

  //end of section3

  //section4
  .section4 {
    align-items: start;
    flex-direction: row;
    .wrapper {
      font-size: 3vh;

      img {
        max-width: 5vh;
      }
      h2 {
        img {
          max-width: 10vh;
        }
      }
    }
  }
  //end of section4

  //footer
  footer {
    font-size: 2vh;
  }
  //end of footer
}

.square::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: map-get($map: $baseColors, $key: gradient);
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.square:hover::before {
  width: 100%;
}
