@import './colors.scss';
@import './header.scss';
@import './main.scss';
@import './footer.scss';
@import 'color';

.lings:hover {
  .yes {
    background-color: #4267B2;
    border-radius: 10px;
  }
}
 .yes {
  background-color: grey;
  transition: 0.7s;
  border-radius: 7px;
 }